:root{
    --colorPrimario: #15883e;
    --colorSecundario: #5d4037;
    --colorTerciario: #E2D372;

    --colorHoverPrimario:#1f5321;
    --colorHoverSecundario: #3e2723;
}

*{
    font-family: 'Monsterrat', sans-serif;
    margin: 0;
    padding: 0;
}

html{font-size: 3vw;}
body{font-size: 0.15rem;}
header{
    position: relative;
    bottom: 0.41rem; right: 0.37rem;
    font-size: 2.5em;
}

main{font-size: 3em;
    margin: 0rem 2.2rem 0rem 2.2rem; 
}

footer{font-size: 2.3em;}

.cartaGrande{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;
    box-sizing: border-box;
    padding: 2.8rem ;
    margin: 2rem;
    
    border-radius: 0.4rem;
    background-color: var(--colorTerciario);
}

.centrar{ position: relative;left: 4rem;}

.container-logo{width: 250px;}


img.figureimg{width: 23rem;height: auto;}

.rectanguloHorizontal{
    width: 100vw; padding: 0.4rem 1.1rem 0.5rem 1.1rem;
    background-color: var(--colorTerciario); 
}

.FilaDeItemsCentrados{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-direction: row;
}

main >form.centrar.cartaGrande>input, 
main>form.centrar.cartaGrande>label,
main>form.centrar.cartaGrande>select{
        max-height: 75%;
        width: 8rem;
        height: 1rem;
        margin: 0.1rem;
        padding: 0.1rem 0.1rem 0.1rem 0.1rem;
        border-radius: 0.35rem;
        font-size: 0.57rem;
        color: #000;
}

header>div.container-logo>a>img {
    width: 12em;
    margin-right: 0.3em; 
}

.ColumnaReversaDeItemsCentrados{
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
    align-items: center
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.flex-ul {
    display: flex;
    list-style: none; 
    margin: 0;
    padding: 0;
    gap: 40px
}

li {
    margin: 0rem 0.4rem 0rem 0.4rem; 

}

.a-class {
    text-decoration: none;
    color: var(--colorHoverSecundario); 
    white-space: nowrap; 
}


.search-container {
    display: flex;
    max-width: 400px; 
    border-radius: 25px; 
    overflow: hidden; 
    background-color: white;
    margin-bottom: 20px;
}

.search-input {
    border: none;
    padding: 10px 20px;
    flex-grow: 1; 
    outline: none; 
    font-size: 14px;
}

.search-btn {
    background-color: var(--colorSecundario); 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: bold;
}

.search-btn:hover {
    background-color: var(--colorHoverSecundario); 
}

.donation-button{
    
    display: inline-block;
    font-size: 16px;
    border-radius: 500px;
    border: 1px solid transparent;
    min-width: 100px;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: var(--colorPrimario);
    text-decoration: none;   
    transition: background 0.3s ease;    
    font-weight: bold;     
    padding: 10px 20px;  
    white-space: nowrap; 
}

.donation-button:hover {
    background-color: var(--colorHoverPrimario);
}

header>div.header-right>a>i{
    color: var(--colorPrimario);
    transition: color 0.3s ease;
}

header>div.header-right>a>i:hover {
    color: var(--colorHoverPrimario);
}

.box-grey{
    border-radius: 5px;
    padding: 15px 30px;
    background-color: grey;
}

h1{
    font-size: 0.9rem;
}
h2, h3, h4{
    font-size: 0.7rem;
}