<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href='../../public/css/styles.css'>
    <script src="https://kit.fontawesome.com/adc9d4d85c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="FilaDeItemsCentrados rectanguloHorizontal">

        <div class="container-logo">
           <a href="../views/index.html">
                <img class="logo" src="../../public/images/Logo.png" alt="Logo BioImpact">
            </a> 
        </div>
        
        
        <nav class="ColumnaReversaDeItemsCentrados" >
            <ul class="flex-ul">
                <li><a href="#introduccion" class="textoSombreado contenidoBloque transicionDeEscala" target="_self">Introduccion</a></li>
                <li><a href="#lineaDeAccion" class="textoSombreado contenidoBloque transicionDeEscala" target="_self">LineaDeAccion</a></li>
                
                
            </ul>
            <form class="search-container">
                <input type="text" placeholder="Buscar proyectos..." class="search-input">
                <button type="submit" class="search-btn">
                    Buscar
                </button>
            </form>
        </nav>

        <div class="header-right">
            <a href="./donaciones.html" class="cajaSuave textoNormal transicionOscuraDeColorTerciario">Doná Ahora</a>
            <a href="./login.html"><i class="fa-solid fa-user fa-xl"></i></a>
        </div>
        

    </header>
    <main>
        
        <section id="introduccion" >
            <h1>Programa Cero Residuos</h1>
            <p>En BioImpact transformamos el concepto 
                de basura en recursos valiosos mediante <br>
                la economía circular. Conocé nuestras 3 líneas de acción:</p>
        </section>
        <br>

        <!-- Tres formas de implementación usando tablas limpias -->
        <section id="lineaDeAccion">
            
            <article class="articulo">
                 <h2>1. Compostaje Orgánico a Gran Escala</h2>
                 
                     
                <figure>
                    <img class="figureimg" src="../../public/images/Compostaje.jpg" alt="Compostera comunitaria grande">
                </figure>
                         
                <p>Instalamos centros de compostaje optimizados 
                    en instituciones y barrios para procesar <br>
                    los desechos orgánicos de cocina y jardín. 
                    El abono resultante, rico en nutrientes, <br>
                    se redistribuye para fertilizar huertas 
                    comunitarias y regenerar suelos degradados <br>
                    de la zona.</p>
                         
                     
                 
            </article>
            
                

              
            <article class="articulo">
                <h2>2. Puntos de Reciclaje y Ecopuntos</h2>
                
                    
                <figure>
                    <img class="figureimg" src="../../public/images/Ecopuntos.jpg" alt="Estación de reciclaje clasificada">
                </figure>
            
                <p>Montamos estaciones de separación en origen 
                    clasificadas por materiales: plásticos, 
                    cartones, vidrios y metales. Coordinamos 
                    la recolección directamente con 
                    cooperativas de recicladores locales para 
                    garantizar que los materiales se reinserten 
                    eficazmente en la industria.</p>
                        
                    
                
            </article>

            
            <article class="articulo">
                <h2>3. Talleres de Supra-reciclaje (Upcycling)</h2>
                
                    
                <figure>
                    <img class="figureimg" src="../../public/images/Upcycling.jpg" alt="Objetos creados a partir de materiales reciclados">
                </figure>
            
                <p>Dictamos capacitaciones abiertas donde enseñamos 
                    a transformar residuos no reciclables 
                    tradicionalmente en nuevos productos de alto 
                    valor. Convertimos plásticos de un solo uso en 
                    mobiliario urbano, telas en desuso en bolsas 
                    ecológicas y maderas en juguetes.</p>
                        
                    
                
            </article>
        </section>
    </main>

    <footer class="rectanguloHorizontal FilaDeItemsCentrados">
       
       <p><i> todos los derechos de autor de la
        pagina esta todos reservados a BioImpact - 2018 </i> </p>
       <div class="box-grey">
           <a href="./contacto.html" class="textoNormal transicionDeEscala contenidoBloque">Contactanos</a>
       </div>
       <div class="box-grey">
           <a href=""><i class="fa-brands fa-instagram fa-lg"></i></a>
           <a href=""><i class="fa-brands fa-youtube fa-lg"></i></a>
           <a href=""><i class="fa-brands fa-x-twitter fa-lg"></i></a>
           <a href=""><i class="fa-brands fa-facebook fa-lg"></i></a>
       </div> 

        
      
   </footer>
</body>

</body>
</html>    