<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href='../../public/css/styless-header-no-transparent.css'>
    <script src="https://kit.fontawesome.com/adc9d4d85c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="flex-header header">

        <hgroup class="container-logo">
           <a href="../views/index.html">
                <img class="logo" src="../../public/images/Logo.png" alt="Logo BioImpact">
            </a> 
        </hgroup>
        
        
        <nav class="flex-nav" >
            <ul class="flex-ul">
                <li><a href="#" class="a-class" target="_self">Introduccion</a></li>
                <li><a href="#lineaDeAccion" class="a-class" target="_self">LineaDeAccion</a></li>
                
                
            </ul>
            <form class="search-container">
                <input type="text" placeholder="Buscar proyectos..." class="search-input">
                <button type="submit" class="search-btn">
                    Buscar
                </button>
            </form>
        </nav>

        <div class="header-right">
            <a href="" class="donation-button">Doná Ahora</a>
            <a href=""><i class="fa-solid fa-user fa-xl login"></i></a>
        </div>
        

    </header>
    <main style="margin-left: 0px; padding-left: 0px;">
        
        <section class="Prin-ecoescuelas">
            <h1>Programa Cero Residuos</h1>
            <p>En BioImpact transformamos el concepto de basura en recursos valiosos mediante la economía circular. Conocé nuestras 3 líneas de acción:</p>
        </section>

        <!-- Tres formas de implementación usando tablas limpias -->
        <section>
            
            <article class="tarjeta-escuela">
                 <h2>1. Compostaje Orgánico a Gran Escala</h2>
                 
                     
                         
                <img class="figureimg" src="../../public/images/Compostaje.jpg" width="40%" alt="Compostera comunitaria grande">
                         
                         
                <p>Instalamos centros de compostaje optimizados 
                    en instituciones y barrios para procesar 
                    los desechos orgánicos de cocina y jardín. 
                    El abono resultante, rico en nutrientes, 
                    se redistribuye para fertilizar huertas 
                    comunitarias y regenerar suelos degradados 
                    de la zona.</p>
                         
                     
                 
            </article>
            
                

              
            <article class="tarjeta-escuela">
                <h2>2. Puntos de Reciclaje y Ecopuntos</h2>
                
                    

                <img class="figureimg" src="../../public/images/Ecopuntos.jpg" width="40%" alt="Estación de reciclaje clasificada">
            
            
                <p>Montamos estaciones de separación en origen 
                    clasificadas por materiales: plásticos, 
                    cartones, vidrios y metales. Coordinamos 
                    la recolección directamente con 
                    cooperativas de recicladores locales para 
                    garantizar que los materiales se reinserten 
                    eficazmente en la industria.</p>
                        
                    
                
            </article>

            
            <article class="tarjeta-escuela">
                <h2>3. Talleres de Supra-reciclaje (Upcycling)</h2>
                
                    
                        
                <img class="figureimg" src="../../public/images/Upcycling.jpg" width="40%" alt="Objetos creados a partir de materiales reciclados">
            
            
                <p>Dictamos capacitaciones abiertas donde enseñamos 
                    a transformar residuos no reciclables 
                    tradicionalmente en nuevos productos de alto 
                    valor. Convertimos plásticos de un solo uso en 
                    mobiliario urbano, telas en desuso en bolsas 
                    ecológicas y maderas en juguetes.</p>
                        
                    
                
            </article>
        </section>
    </main>
</body>
     <footer class="flex-footer">
        
        <p><i> todos los derechos de autor de la
         pagina esta todos reservados a BioImpact - 2018 </i> </p>
        <div class="box-grey">
            <a href="./contacto.html" class="a-class">Contactanos</a>
        </div>
        <div class="box-grey">
            <a href=""><i class="fa-brands fa-instagram fa-lg" style="color: white;"></i></a>
            <a href=""><i class="fa-brands fa-youtube fa-lg" style="color: white;"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter fa-lg" style="color: white;"></i></a>
            <a href=""><i class="fa-brands fa-facebook fa-lg" style="color: white;"></i></a>
        </div> 

         
       
    </footer>

</body>
</htm>    