<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href='../../public/css/styles.css'>
    <script src="https://kit.fontawesome.com/adc9d4d85c.js" crossorigin="anonymous"></script>
</head>
<body>
   <header class="FilaDeItemsCentrados rectanguloHorizontal">

        <div class="container-logo">
           <a href="../views/index.html">
                <img class="logo" src="../../public/images/Logo.png" alt="Logo BioImpact">
            </a> 
        </div>
        
        
        <nav class="ColumnaReversaDeItemsCentrados" >
            <ul class="flex-ul">
                <li><a href="./ecoEscuelas.html" class="a-class" target="_self">EcoEscuelas</a></li>
                <li><a href="./plantAr.html" class="a-class" target="_self">PlantAr</a></li>
                <li><a href="./ceroReciduos.html" class="a-class" target="_self">Cero Reciduos</a></li>
                <li><a href="./guardianesDelAgua.html" class="a-class" target="_self">Guardianes Del Agua</a></li>
            </ul>
            <form class="search-container">
                <input type="text" placeholder="Buscar proyectos..." class="search-input">
                <button type="submit" class="search-btn">
                    Buscar
                </button>
            </form>
        </nav>

        <div class="header-right">
            <a href="./donaciones.html" class="donation-button">Doná Ahora</a>
            <a href="./login.html"><i class="fa-solid fa-user fa-xl"></i></a>
        </div>
        

    </header>
    <main>
        <h1>Contactos</h1>
        <br>
        <section class="articulo">
            <h2>Sedes fisicas</h2>
            <br>
            <ul>
                <li>
                     <a class="a-class" href="https://www.google.com/maps/@-12.0603402,-77.0376174,3a,83.4y,254.79h,95.57t/data=!3m7!1e1!3m5!1sWMSuP_yk-fJvMP268wk_GQ!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D-5.566343662993148%26panoid%3DWMSuP_yk-fJvMP268wk_GQ%26yaw%3D254.787629876401!7i13312!8i6656?entry=ttu&g_ep=EgoyMDI2MDUxMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                    <i class="fa-solid fa-location-dot"></i> BioImpact Peru, Lima </a>
                </li>
                <li>
                    <a class="a-class" href="https://www.google.com/maps/@-26.1971234,-58.2219944,3a,75y,73.89h,80.07t/data=!3m7!1e1!3m5!1sF9bGiK0HJG9Hhtv_bzqS_w!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D9.931683312027161%26panoid%3DF9bGiK0HJG9Hhtv_bzqS_w%26yaw%3D73.89270300365527!7i13312!8i6656?entry=ttu&g_ep=EgoyMDI2MDUxMy4wIKXMDSoASAFQAw%3D%3D" target="_blank"> 
                        <i class="fa-solid fa-location-dot"></i> BioImpact Argentina, Formosa</a>
                </li>
                <li>
                    <a class="a-class" href="https://www.google.com/maps/@-25.2334161,-57.5580387,3a,75y,320.41h,74.59t/data=!3m7!1e1!3m5!1s2DMMylVCgDxh6E0szDWDdg!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D15.410203694910138%26panoid%3D2DMMylVCgDxh6E0szDWDdg%26yaw%3D320.41049824168425!7i16384!8i8192?entry=ttu&g_ep=EgoyMDI2MDUxMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                        <i class="fa-solid fa-location-dot"></i> BioImpact Paraguay, asuncion</a>
                </li>
            </ul>
            <br>
            <h2>Vías de contacto</h2>
            <br>
            <p>Mail de contacto a gestion:</p>
            <a class="a-class" href="mailto:BioImpact@gmail.com">BioImpact@gmail.com</a> <br>
            <p>Numero de telefono de gestion:</p>
            <a class="a-class" href="tel:+5491154160000"> +5491154160000</a>
        </section>
    </main>

     <footer class="rectanguloHorizontal FilaDeItemsCentrados">
        
        <p><i> todos los derechos de autor de la
         pagina esta todos reservados a BioImpact - 2018 </i> </p>
        <div class="box-grey">
            <a href="./contacto.html" class="a-class">Contactanos</a>
        </div>
        <div class="box-grey">
            <a href=""><i class="fa-brands fa-instagram fa-lg" style="color: white;"></i></a>
            <a href=""><i class="fa-brands fa-youtube fa-lg" style="color: white;"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter fa-lg" style="color: white;"></i></a>
            <a href=""><i class="fa-brands fa-facebook fa-lg" style="color: white;"></i></a>
        </div> 

         
       
    </footer>

</body>
</html>    