<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href='../../public/css/styles.css'>
    <script src="https://kit.fontawesome.com/adc9d4d85c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="FilaDeItemsCentrados rectanguloHorizontal">

        <!-- Botón hamburguesa -->
        <button class="navbar-toggler hamburguesa d-md-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menuMobile">
            <i class="fa-solid fa-seedling fa-2x" style="color: white;"></i>
        </button>

        <div class="container-logo">
           <a href="../views/index.html">
                <img class="logo" src="../../public/images/Logo.png" alt="Logo BioImpact">
            </a> 
        </div>

        <button
            class="d-md-none btn p-0 border-0 bg-transparent"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mobileSearch">
            <i class="fa-solid fa-magnifying-glass fa-2x" style="color: white;"></i>
        </button>
        
        <!-- Buscador mobile -->

        <div class="collapse d-md-none w-container" id="mobileSearch">
            <form class="p-2">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar proyectos...">
            </form>
        </div>

        <!-- Menú escritorio y tablet -->

        <nav class="flex-nav d-none d-md-flex">
        <form class="search-container">
            <input type="text" placeholder="Buscar proyectos..." class="search-input">
            <button type="submit" class="search-btn">Buscar</button>
        </form>

        <ul class="flex-ul">
            <li><a href="./ecoEscuelas.html" class="a-class">EcoEscuelas</a></li>
            <li><a href="./plantAr.html" class="a-class">PlantAr</a></li>
            <li><a href="./ceroResiduos.html" class="a-class">Cero Residuos</a></li>
            <li><a href="./guardianesDelAgua.html" class="a-class">Guardianes Del Agua</a></li>
        </ul>
    </nav>

    <div class="header-buttons d-none d-md-flex">
        <a href="./donaciones.html" class="donation-button">Doná Ahora</a>
        <a href="./login.html">
            <i class="fa-solid fa-user fa-xl login"></i>
        </a>
    </div>

        <!-- Menú celular -->
        <div class="collapse mobile-menu d-md-none" id="menuMobile">

            <ul class="flex-ul-mobile">
                <li><a href="./ecoEscuelas.html" class="a-class-index">EcoEscuelas</a></li>
                <li><a href="./plantAr.html" class="a-class-index">PlantAr</a></li>
                <li><a href="./ceroResiduos.html" class="a-class-index">Cero Residuos</a></li>
                <li><a href="./guardianesDelAgua.html" class="a-class-index">Guardianes Del Agua</a></li>
            </ul>

            <div class="mobile-buttons">
                <a href="./donaciones.html" class="donation-button">Doná Ahora</a>

                <a href="./login.html">
                    <i class="fa-solid fa-user fa-xl login"></i>
                </a>
            </div>

        </div>
        

    </header>
    <main class="contenedor-section">

    <form class="form">

        <h1 class="h1-forms">Colabora con tu donación</h1>
        <h2>Selecciona un monto</h2>

        <div class="montos">
            <label>
                <input type="radio" name="monto" value="75000">
                 $75.000
            </label>

            <label>
                <input type="radio" name="monto" value="100000">
                $100.000
            </label>

            <label>
                <input type="radio" name="monto" value="150000">
                $150.000
            </label>
        </div>

        <label for="otroMonto">Otro monto</label>
        <input type="text" id="otroMonto" placeholder="$50.000">

        <div class="fila">
            <div class="campo">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" placeholder="Juan">
            </div>

            <div class="campo">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" placeholder="Caballero">
            </div>
        </div>
    

        <div class="fila">
            <div class="campo">
                <label for="dni">DNI</label>
                <input type="number" id="dni">
            </div>

            <div class="campo">
                <label for="email">Email</label>
                <input type="email" id="email">
            </div>
        </div>

        <div class="fila">
            <div class="campo">
                <label for="ciudad">Ciudad</label>
                <input type="text" id="ciudad">
            </div>

            <div class="campo">
                <label for="provincia">Provincia</label>
                <select id="provincia">
                    <option value="BuenosAires">Buenos Aires</option>
                <option value="Catamarca">Catamarca</option>
                <option value="Chaco">Chaco</option>
                <option value="Chubut">Chubut</option>
                <option value="Corrientes">Corrientes</option>
                <option value="Cordoba">Córdoba</option>
                <option value="EntreRios">Entre Ríos</option>
                <option value="Formosa">Formosa</option>
                <option value="LaPampa">La Pampa</option>
                <option value="LaRioja">La Rioja</option>
                <option value="Jujuy">Jujuy</option>
                <option value="Neuquen">Neuquén</option>
                <option value="Mendoza">Mendoza</option>
                <option value="Misiones">Misiones</option>
                <option value="RioNegro">Río Negro</option>
                <option value="TierraDelFuego">Tierra del Fuego</option>
                <option value="Tucuman">Tucumán</option>
                <option value="SanJuan">San Juan</option>
                <option value="SanLuis">San Luis</option>
                <option value="SantaFe">Santa Fe</option>
                <option value="Salta">Salta</option>
                <option value="SantiagoDelEstero">Santiago del Estero</option>
                <option value="SantaCruz">Santa Cruz</option>
                </select>
            </div>
        </div>

        <div class="campo-completo">
            <label for="telefono">Teléfono</label>
            <input type="tel" id="telefono">
        </div>

        <div class="campo-completo">
            <label for="email2">Email</label>
            <input type="email" id="email2">
        </div>

        <input type="submit" value="Unirse" class="cajaSuave transicionOscuraDeColorTerciario">

</form>
</main>
    <footer class="rectanguloHorizontal FilaDeItemsCentrados">
       
       <p><i> todos los derechos de autor de la
        pagina esta todos reservados a BioImpact - 2018 </i> </p>
       <div class="box-grey a-class">
           <a href="./contacto.html" class="textoNormal transicionDeEscala contenidoBloque">Contactanos</a>
       </div>
       <div class="box-grey">
           <a href=""><i class="fa-brands fa-instagram fa-lg"></i></a>
           <a href=""><i class="fa-brands fa-youtube fa-lg"></i></a>
           <a href=""><i class="fa-brands fa-x-twitter fa-lg"></i></a>
           <a href=""><i class="fa-brands fa-facebook fa-lg"></i></a>
       </div> 
    
        
      
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>    
</body>
</html>