<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href='../../public/css/styless-header-no-transparent.css'>
    <script src="https://kit.fontawesome.com/adc9d4d85c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="FilaDeItemsCentrados rectanguloHorizontal">

        <div class="container-logo">
           <a href="../views/index.html">
                <img class="logo" src="../../public/images/Logo.png" alt="Logo BioImpact">
            </a> 
        </div>
        
        
        <nav class="ColumnaReversaDeItemsCentrados" >
            <ul class="flex-ul">
                <li><a href="./ecoEscuelas.html" class="a-class" target="_self">EcoEscuelas</a></li>
                <li><a href="./plantAr.html" class="a-class" target="_self">PlantAr</a></li>
                <li><a href="./ceroReciduos.html" class="a-class" target="_self">Cero Reciduos</a></li>
                <li><a href="./guardianesDelAgua.html" class="a-class" target="_self">Guardianes Del Agua</a></li>
            </ul>
            <form class="search-container">
                <input type="text" placeholder="Buscar proyectos..." class="search-input">
                <button type="submit" class="search-btn">
                    Buscar
                </button>
            </form>
        </nav>

        <div class="header-right">
            <a href="" class="donation-button">Doná Ahora</a>
            <a href=""><i class="fa-solid fa-user fa-xl"></i></a>
        </div>
        

    </header>

    <main style="margin-left: 0px; padding-left: 0px;">
    
        <section class="Prin-ecoescuelas">
            <h1>Programa Guardianes del Agua</h1>
            <p>En BioImpact impulsamos la protección de los recursos hídricos mediante soluciones tecnológicas y comunitarias. Conocé nuestras 3 líneas de acción:</p>
        </section>

        
        <section class="seccion-escuelas">
            <div class="contenedor-escuelas"> 
                
            
                <article class="tarjeta-escuela">
                    <h3>1. Cosecha de Lluvia Automatizada</h3>
                    <table>
                        <tr>
                            <td width="40%">
                                <img class="figureimg" src="../../public/images/Riego.jpg" width="40%" alt="Sistema de recolección de agua de lluvia">
                            </td>
                            <td>
                                <p>Diseñamos e instalamos módulos de recolección de agua de lluvia conectados a sensores de robótica educativa. Estos sistemas filtran el agua de forma segura y automatizan el riego de huertas comunitarias y el abastecimiento de sanitarios, reduciendo drásticamente el consumo de agua de red.</p>
                            </td>
                        </tr>
                    </table>
                </article>

                
                <article class="tarjeta-escuela">
                    <h3>2. Humedales Artificiales (Biofiltros)</h3>
                    <table>
                        <tr>
                            <td width="40%">
                                <img class="figureimg" src="../../public/images/Humedales.jpg" width="40%" alt="Filtro biológico con plantas acuáticas">
                            </td>
                            <td>
                                <p>Implementamos biofiltros basados en la naturaleza utilizando plantas palustres y piedras volcánicas. Este sistema biológico permite depurar las aguas grises (de bachas y lavaderos) para reutilizarlas de manera segura en el mantenimiento de espacios verdes, evitando la contaminación de las napas subterráneas.</p>
                            </td>
                        </tr>
                    </table>
                </article>

             
                <article class="tarjeta-escuela">
                    <h3>3. Monitoreo Comunitario de Napas</h3>
                    <table>
                        <tr>
                            <td width="40%">
                                <img class="figureimg" src="../../public/images/napas.jpg" width="40%" alt="Estudiantes midiendo la calidad del agua">
                            </td>
                            <td>
                                <p>Capacitamos a vecinos y estudiantes en el uso de kits de medición ambiental para controlar la salud del agua local. Aprenden a registrar el pH, la presencia de metales pesados y contaminantes, subiendo los datos a una plataforma abierta para mapear el estado del agua en tiempo real.</p>
                            </td>
                        </tr>
                    </table>
                </article>

            </div>
        </section>
    </main>
    
    <footer class="rectanguloHorizontal FilaDeItemsCentrados">
       
       <p><i> todos los derechos de autor de la
        pagina esta todos reservados a BioImpact - 2018 </i> </p>
       <div class="box-grey">
           <a href="./contacto.html" class="a-class">Contactanos</a>
       </div>
       <div class="box-grey">
           <a href=""><i class="fa-brands fa-instagram fa-lg" style="color: white;"></i></a>
           <a href=""><i class="fa-brands fa-youtube fa-lg" style="color: white;"></i></a>
           <a href=""><i class="fa-brands fa-x-twitter fa-lg" style="color: white;"></i></a>
           <a href=""><i class="fa-brands fa-facebook fa-lg" style="color: white;"></i></a>
       </div> 

        
      
    </footer>
</body>


</html>    