<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href='../../public/css/styles.css'>
    <script src="https://kit.fontawesome.com/adc9d4d85c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   <header class="FilaDeItemsCentrados rectanguloHorizontal">

        <!-- Botón hamburguesa -->
        <button class="navbar-toggler hamburguesa d-md-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menuMobile">
            <i class="fa-solid fa-seedling fa-2x" style="color: white;"></i>
        </button>

    <div>
        <a href="../views/index.html">
            <img  id="logo" class="logo-index" src="../../public/images/Logo-con-fondo.jpg" alt="Logo BioImpact">
        </a>
    </div>

        <button
            class="d-md-none btn p-0 border-0 bg-transparent"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mobileSearch">
            <i class="fa-solid fa-magnifying-glass fa-2x" style="color: white;"></i>
        </button>
        
        <!-- Buscador mobile -->

    <div class="collapse d-md-none w-container" id="mobileSearch">
        <form class="p-2 search-container-mobile">
            <input
                type="text"
                class="form-control"
                placeholder="Buscar proyectos...">
            <div class="search-suggestions"></div>    
        </form>
    </div>

    <!-- Menú escritorio y tablet -->
    <nav class="flex-nav d-none d-md-flex">
        <form class="search-container">
            <input type="text" placeholder="Buscar proyectos..." class="search-input">
            <button type="submit" class="search-btn">Buscar</button>
            <div class="search-suggestions"></div>
        </form>

        <ul class="flex-ul">
            <li><a href="./ecoEscuelas.html" class="a-class">EcoEscuelas</a></li>
            <li><a href="./plantAr.html" class="a-class">PlantAr</a></li>
            <li><a href="./ceroResiduos.html" class="a-class">Cero Residuos</a></li>
            <li><a href="./guardianesDelAgua.html" class="a-class">Guardianes Del Agua</a></li>
        </ul>
    </nav>

    <div class="header-buttons d-none d-md-flex">
        <button id="btn-alternar" class="btn-dark">
            <i class="fa-solid fa-moon"></i>
        </button>
        <a href="./donaciones.html" class="donation-button">Doná Ahora</a>
        <a href="./login.html">
            <i class="fa-solid fa-user fa-xl login"></i>
        </a>
    </div>

        <!-- Menú celular -->
        <div class="collapse mobile-menu d-md-none" id="menuMobile">

            <ul class="flex-ul-mobile">
                <li><a href="./ecoEscuelas.html" class="a-class-index">EcoEscuelas</a></li>
                <li><a href="./plantAr.html" class="a-class-index">PlantAr</a></li>
                <li><a href="./ceroResiduos.html" class="a-class-index">Cero Residuos</a></li>
                <li><a href="./guardianesDelAgua.html" class="a-class-index">Guardianes Del Agua</a></li>
            </ul>

            <div class="mobile-buttons">
                <a href="./donaciones.html" class="donation-button">Doná Ahora</a>

                <a href="./login.html">
                    <i class="fa-solid fa-user fa-xl login"></i>
                </a>
            </div>

        </div>
        

    </header>

    <main class="contenedor-section"> 
    
        <section class="contenedor-section">
            <h1>Programa Guardianes del Agua</h1>
            <p>
                En BioImpact impulsamos la protección de los 
                recursos hídricos mediante soluciones tecnológicas 
                y comunitarias. Conocé nuestras 3 líneas de acción:</p>
        </section>
        <ul class="btn-group">
                <li><a href="#cosecha" class="button-main" target="_self">Cosecha de Lluvia Automatizada</a></li>
                <li><a href="#humedales" class="button-main" target="_self">Humedales Artificiales (Biofiltros)</a></li>
                <li><a href="#monitoreo" class="button-main" target="_self">Monitoreo Comunitario de Napas</a></li>

        </ul>

        
        <section class="seccion-escuelas">
            <div class="contenedor-escuelas"> 
                
            
                <article id="cosecha" class="articulo">
                    
                    <table>
                        <thead><tr><th><h3>1. Cosecha de Lluvia Automatizada</h3></th></tr></thead>
                        <tbody>
                            <tr>
                                <td width="40%"> <img class="figureimg" src="../../public/images/Riego.jpg" width="40%" alt="Sistema de recolección de agua de lluvia"></td>
                                <td>
                                    <p>Diseñamos e instalamos módulos de recolección de agua 
                                        de lluvia conectados a sensores de robótica educativa. 
                                        Estos sistemas filtran el agua de forma segura y 
                                        automatizan el riego de huertas comunitarias y el 
                                        abastecimiento de sanitarios, reduciendo drásticamente 
                                        el consumo de agua de red.
                                    </p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </article>

                
                <article id="humedales" class="articulo">
                  
                    <table>
                        <thead><tr><th><h3>2. Humedales Artificiales (Biofiltros)</h3></th></tr></thead>
                        <tbody>
                            <tr>
                                <td width="40%"> <img class="figureimg" src="../../public/images/Humedales.jpg" width="40%" alt="Filtro biológico con plantas acuáticas"></td>
                                <td>
                                    <p>Implementamos biofiltros basados en la naturaleza utilizando 
                                        plantas palustres y piedras volcánicas. Este sistema 
                                        biológico permite depurar las aguas grises (de bachas y 
                                        lavaderos) para reutilizarlas de manera segura en el 
                                        mantenimiento de espacios verdes, evitando la contaminación de 
                                        las napas subterráneas.</p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </article>

             
                <article id="monitoreo" class="articulo">
                    
                   
                    <table>
                        <thead><tr><th><h3>3. Monitoreo Comunitario de Napas</h3></th></tr></thead>
                        <tbody>
                            <tr>
                                <td width="40%">  <img class="figureimg" src="../../public/images/napas.jpg" width="40%" alt="Estudiantes midiendo la calidad del agua"></td>
                                <td>
                                    <p>Capacitamos a vecinos y estudiantes en el uso de kits de 
                                        medición ambiental para controlar la salud del agua local. 
                                        Aprenden a registrar el pH, la presencia de metales pesados 
                                        y contaminantes, subiendo los datos a una plataforma 
                                        abierta para mapear el estado del agua en tiempo real.</p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </article>

            </div>
        </section>
    </main>
    
    <footer class="rectanguloHorizontal FilaDeItemsCentrados">
       
       <p><i> todos los derechos de autor de la
        pagina esta todos reservados a BioImpact - 2018 </i> </p>
       <div class="box-grey a-class">
           <a href="./contacto.html" class="textoNormal transicionDeEscala contenidoBloque">Contactanos</a>
       </div>
       <div class="box-grey">
           <a href=""><i class="fa-brands fa-instagram fa-lg"></i></a>
           <a href=""><i class="fa-brands fa-youtube fa-lg"></i></a>
           <a href=""><i class="fa-brands fa-x-twitter fa-lg"></i></a>
           <a href=""><i class="fa-brands fa-facebook fa-lg"></i></a>
       </div> 

        
      
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="../main.js"></script>    
</body>
</html>    