<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href='../../public/css/styles.css'>
    <script src="https://kit.fontawesome.com/adc9d4d85c.js" crossorigin="anonymous"></script>
</head>
<body>
   <header class="flex-header">
        <div>
            <a href="../views/index.html">
                <img class="logo" src="../../public/images/Logo-con-fondo.jpg" alt="Logo BioImpact">
            </a>
        </div>
        
        <nav class="flex-nav">
            <form class="search-container">
                <input type="text" placeholder="Buscar proyectos..." class="search-input">
                <button type="submit" class="search-btn">Buscar</button>
            </form>
            <ul class="flex-ul">
                <li><a href="./ecoEscuelas.html" class="a-class">EcoEscuelas</a></li>
                <li><a href="./plantAr.html" class="a-class">PlantAr</a></li>
                <li><a href="./ceroReciduos.html" class="a-class">Cero Reciduos</a></li>
                <li><a href="./guardianesDelAgua.html" class="a-class">Guardianes Del Agua</a></li>
            </ul>
        </nav>

        <div>
            <a href="" class="donation-button">Doná Ahora</a>
            <a href=""><i class="fa-solid fa-user fa-xl login"></i></a>
        </div>
    </header>

    <main>
        <section class="carrusel-seccion">
            <button class="flecha prev" onclick="document.querySelector('.carrusel-track').scrollBy({left: -window.innerWidth, behavior: 'smooth'})">&#10094;</button>

            <div class="carrusel-container">
                <div class="carrusel-track">
                    <article class="noticia-card" style="background-image: url('../../public/images/Noticia-1.jpg');">
                        <div class="overlay"></div> 
                        <div class="info-noticia"> 
                            <h3>Gran avance en reforestación</h3>
                            <p>Se plantaron más de 10,000 árboles este mes...</p>
                            <a href="#" class="btn-accion">Saber más</a>
                        </div>
                    </article>
                    <article class="noticia-card" style="background-image: url('noticia2.jpg');">
                        <div class="overlay"></div>
                        <div class="info-noticia">
                            <h3>Energías Limpias</h3>
                            <p>Nuevos paneles solares en EcoEscuelas...</p>
                            <a href="#" class="btn-accion">Saber más</a>
                        </div>
                    </article>
                </div>
            </div>
            <button class="flecha next" onclick="document.querySelector('.carrusel-track').scrollBy({left: window.innerWidth, behavior: 'smooth'})">&#10095;</button>
        </section>

       <section class="flex-mision">
        <a href="" class="btn-voluntario">Unite a Voluntarios</a>
        <div class="mision box-grey">
            <h1>Nuestra misión:</h1>
            <p>Impulsar un cambio positivo en la sociedad fomentando <strong>prácticas sostenibles</strong>, <strong>conciencia ambiental</strong> y <strong>participación ciudadana activa</strong>  para proteger nuestro planeta.</p> 
        </div>
        <a href="./nosotros.html" class="btn-voluntario">Más sobre Nosotros</a>  

        
       </section>


    </main>

    <footer class="flex-footer">
        
        <p><i> todos los derechos de autor de la
         pagina esta todos reservados a BioImpact - 2018 </i> </p>
        <div class="box-grey">
            <a href="./contacto.html" class="a-class">Contactanos</a>
        </div>
        <div class="box-grey">
            <a href=""><i class="fa-brands fa-instagram fa-lg" style="color: white;"></i></a>
            <a href=""><i class="fa-brands fa-youtube fa-lg" style="color: white;"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter fa-lg" style="color: white;"></i></a>
            <a href=""><i class="fa-brands fa-facebook fa-lg" style="color: white;"></i></a>
        </div> 

         
       
    </footer>

</body>
</html>