<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href='../../public/css/styless-header-no-transparent.css'>
    <script src="https://kit.fontawesome.com/adc9d4d85c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="FilaDeItemsCentrados rectanguloHorizontal">

        <div class="container-logo">
           <a href="../views/index.html">
                <img src="../../public/images/Logo.png" alt="Logo BioImpact">
            </a> 
        </div>
        
        
        <nav class="ColumnaReversaDeItemsCentrados" >
            <ul class="flex-ul">
                <li><a href="./ecoEscuelas.html" class="a-class">EcoEscuelas</a></li>
                <li><a href="./plantAr.html" class="a-class">PlantAr</a></li>
                <li><a href="./ceroReciduos.html" class="a-class">Cero Reciduos</a></li>
                <li><a href="./guardianesDelAgua.html" class="a-class">Guardianes Del Agua</a></li>
            </ul>
            <form class="search-container" action="../">
                <input type="text" placeholder="Buscar proyectos..." class="search-input">
                <button type="submit" class="search-btn">
                    Buscar
                </button>
            </form>
        </nav>

        <div class="header-right">
            <a href="" class="donation-button">Doná Ahora</a>
            <a href=""><i class="fa-solid fa-user fa-xl"></i></a>
        </div>
        

    </header>
    <main>
        <form autocomplete="on" class="centrar cartaGrande" >
            <h1>login</h1>
            <label for="usuario" class="formItems">Nombre de usuario</label><br>
            <input type="text" id="usuario" name="user"  class="formItems"><br>
            <label for="contraseña" class="formItems">Contraseña</label><br>
            <input type="password" id="contraseña" name="password" class="formItems"><br>
            <input type="submit" value="Iniciar sesion" class="formItems">
        </form>
    </main>
    <footer class="rectanguloHorizontal FilaDeItemsCentrados">
       
       <p><i> todos los derechos de autor de la
        pagina esta todos reservados a BioImpact - 2018 </i> </p>
       <div class="box-grey">
           <a href="./contacto.html" class="a-class">Contactanos</a>
       </div>
       <div class="box-grey">
           <a href=""><i class="fa-brands fa-instagram fa-lg" style="color: white;"></i></a>
           <a href=""><i class="fa-brands fa-youtube fa-lg" style="color: white;"></i></a>
           <a href=""><i class="fa-brands fa-x-twitter fa-lg" style="color: white;"></i></a>
           <a href=""><i class="fa-brands fa-facebook fa-lg" style="color: white;"></i></a>
       </div> 
    
        
      
    </footer>
</body>


</html>    