<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href='../../public/css/styless-header-no-transparent.css'>
    <script src="https://kit.fontawesome.com/adc9d4d85c.js" crossorigin="anonymous"></script>
</head>
<body>
   <header class="flex-header header">

        <hgroup class="container-logo">
           <a href="../views/index.html">
                <img class="logo" src="../../public/images/Logo.png" alt="Logo BioImpact">
            </a> 
        </hgroup>
        
        
        <nav class="flex-nav" >
            <ul class="flex-ul">
                <li><a href="#quienesSomos" class="a-class" target="_self">¿Quienes Somos?</a></li>
                <li><a href="#ValoresYPrincipios" class="a-class" target="_self">Nuestros Valores</a></li>
                <li><a href="#equipo" class="a-class" target="_self">Equipo De BioImpact</a></li>
            </ul>
            <form class="search-container">
                <input type="text" placeholder="Buscar proyectos..." class="search-input">
                <button type="submit" class="search-btn">
                    Buscar
                </button>
            </form>
        </nav>

        <div class="header-right">
            <a href="" class="donation-button">Doná Ahora</a>
            <a href=""><i class="fa-solid fa-user fa-xl login"></i></a>
        </div>
        

    </header>

    <main>
        <h1>BioImpact: Transformando la Conciencia en Acción</h1>
        <section>
            <h2 id="quienesSomos">¿Quiénes Somos?</h2>
            <p>BioImpact es una organización ecologica híbrida 
            de gestión privada arraigada a la comunidad <br>
            ambientalista de hace ya mas de 10 años por haya 
            en los años <time datetime="2026-05-15">2015</time>. Nacimos con el <br>
            propósito de no ser solo observadores del cambio 
            climático, sino arquitectos de soluciones tangibles.</p>
            <figure>
                    <picture>
                        <img src="./../../public/images/ladrilloDePlastico.jpeg" alt="un ladrillo de plastico">
                    </picture>
                    <figcaption>
                        ladrillo de plasctico ecologico.
                    </figcaption>
            </figure>
            <br><br>

            <p>Nuestra razón de ser es la gestión participativa:<br> 
                creemos que el conocimiento más valioso sobre el 
                entorno reside en las comunidades que lo habitan.<br> 
                Por ello, BioImpact se especializa en diagnosticar, 
                diseñar y ejecutar proyectos de restauración ambiental<br> 
                que responden directamente a las denuncias y necesidades 
                de los ecosistemas locales. No imponemos soluciones;<br> 
                escuchamos a la comunidad medioambiental para reparar 
                nuestro entorno de manera colectiva y técnica.<br></p>
            
            
            
            
        </section>
        <section>
            <h3 id="ValoresYPrincipios">Nuestros Principios y Valores</h3>
            <p>Nuestra cultura organizacional se rige 
                por pilares que garantizan que cada <br>
                impacto sea positivo y duradero:</p>
                <br><br>
                <ol>
                    <li><p><strong> Escucha Activa y Co-creación </strong><br>
                        Entendemos que la comunidad es nuestra principal 
                        fuente de información. científicos locales y vecinos <br>
                        para identificar las necesidades de medioambiental más urgentes.
                        </p>
                        <figure><img src="./../../public/images/escuchaActiva.png" alt=""></figure>
                        <br><br>
                    </li>
                    <li><p><strong> Responsabilidad Restaurativa </strong><br>
                        nos enfocamos en la reparación del ecosistemas
                        en un estado mejor del que los encontramos, aplicando <br>
                        ingeniería ambiental de vanguardia para sanar suelos,
                        cuencas y biodiversidad.
                        </p> <figure><img src="./../../public/images/restaurar1.jpg" alt=""></figure>
                    <br><br>
                    </li>
                    <li><p><strong> Innovación Adaptativa</strong><br>
                        El medio ambiente cambia, y nosotros con él. Abrazamos 
                        nuevas tecnologías y métodos de regeneración que sean <br>
                        respetuosos con el equilibrio natural y económicamente 
                        sostenibles a largo plazo.
                        </p>
                        <figure> <img src="./../../public/images/innovacion0.jpg" alt=""></figure>
                    </li>
                </ol>
        </section>
        <section>
            <h4 id="equipo">Equipo de BioImpact</h4>
            <dl>
                <dt><strong>Sebastian Ignacio Montero</strong> </dt>
                <dd>- Enfocado en la gestión de proyectos y articulación con la comunidad.</dd><br>
                <dt><strong>Lucía Nicole Caro</strong></dt>
                <dd>-  Orientada a la educación ambiental y desarrollo de contenidos.</dd><br>
                <dt><strong>Lautaro Brea</strong></dt>
                <dd>- Especializado en iniciativas de sustentabilidad e innovación.</dd><br>
                <dt><strong>Nuñez Valentin Elias</strong></dt>
                <dd>- Enfocado en la coordinación de campañas y logística.</dd><br>
            </dl>
        </section>
    </main>

     <footer class="flex-footer">
        
        <p><i> todos los derechos de autor de la
         pagina esta todos reservados a BioImpact - 2018 </i> </p>
         
        <div class="box-grey">
            <a href="./contacto.html" class="a-class">Contactanos</a>
        </div>
        <div class="box-grey">
            <a href=""><i class="fa-brands fa-instagram fa-lg" style="color: white;"></i></a>
            <a href=""><i class="fa-brands fa-youtube fa-lg" style="color: white;"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter fa-lg" style="color: white;"></i></a>
            <a href=""><i class="fa-brands fa-facebook fa-lg" style="color: white;"></i></a>
        </div> 

         
       
    </footer>

</body>
</htm>    