<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href='../../public/css/styles.css'>
    <script src="https://kit.fontawesome.com/adc9d4d85c.js" crossorigin="anonymous"></script>
</head>
<body>
   <header class="flex-header">
        <div>
            <a href="../views/index.html">
                <img class="logo" src="../../public/images/Logo-con-fondo.jpg" alt="Logo BioImpact">
            </a>
        </div>
        
        <nav class="flex-nav">
            <form class="search-container">
                <input type="text" placeholder="Buscar proyectos..." class="search-input">
                <button type="submit" class="search-btn">Buscar</button>
            </form>
            <ul class="flex-ul">
                <li><a href="ecoEscuelas.html" class="a-class">EcoEscuelas</a></li>
                <li><a href="plantAr.html" class="a-class">PlantAr</a></li>
                <li><a href="ceroReciduos.html" class="a-class">Cero Reciduos</a></li>
                <li><a href="guardianesDelAgua.html" class="a-class">Guardianes Del Agua</a></li>
            </ul>
        </nav>

        <div>
            <a href="" class="donation-button">Doná Ahora</a>
            <a href=""><i class="fa-solid fa-user fa-xl login"></i></a>
        </div>
    </header>

    <main>
        <h1>BioImpact: Transformando la Conciencia en Acción</h1>
        <section>
            <h2>¿Quiénes Somos?</h2>
            <p>BioImpact es una organización híbrida que combina la 
            agilidad de la gestión privada con la misión social<br> 
            y ética de una ONG ambientalista. Nacimos con el
            propósito de no ser solo observadores del cambio <br>
            climático, sino arquitectos de soluciones tangibles.</p>
            <figure>
                    <picture>
                        <img src="./../../public/images/ladrilloDePlastico.jpeg" alt="un ladrillo de plastico">
                    </picture>
                    <figcaption>
                        el ultimo proyecto desarrollado y comercializado. es un ladrillo
                        de plastico hecho para la construcciones de casas
                    </figcaption>
            </figure>
            <br><br>

            <p>Nuestra razón de ser es la gestión participativa:<br> 
                creemos que el conocimiento más valioso sobre el 
                entorno reside en las comunidades que lo habitan.<br> 
                Por ello, BioImpact se especializa en diagnosticar, 
                diseñar y ejecutar proyectos de restauración ambiental<br> 
                que responden directamente a las denuncias y necesidades 
                de los ecosistemas locales. No imponemos soluciones;<br> 
                escuchamos a la comunidad medioambiental para reparar 
                nuestro entorno de manera colectiva y técnica.<br></p>
            
            
            
            
        </section>
        <section>
            <h3>Nuestros Principios y Valores</h3>
            <p>Nuestra cultura organizacional se rige 
                por pilares que garantizan que cada <br>
                impacto sea positivo y duradero:</p>
                <br><br>
                <ol>
                    <li>Escucha Activa y Co-creación</li>
                    <li>Responsabilidad Restaurativa</li>
                    <li>Innovación Adaptativa</li>
                </ol>
        </section>
    </main>

    <footer class="flex-footer">
       <p><i> todos los derechos de autor de la
         pagina esta todos reservados a BioImpact - 2018 </i> </p>
        <br>
        
        <p> Para contactarnos entre a este <a href="./contacto.html"
         target="_self">link</a></p>

    </footer>

</body>
</html>