<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href='../../public/css/styles.css'>
    <script src="https://kit.fontawesome.com/adc9d4d85c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   <header class="FilaDeItemsCentrados rectanguloHorizontal">

        <!-- Botón hamburguesa -->
        <button class="navbar-toggler hamburguesa d-md-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menuMobile">
            <i class="fa-solid fa-seedling fa-2x" style="color: white;"></i>
        </button>

    <div>
        <a href="../views/index.html">
            <img  id="logo" class="logo-index" src="../../public/images/Logo-con-fondo.jpg" alt="Logo BioImpact">
        </a>
    </div>

        <button
            class="d-md-none btn p-0 border-0 bg-transparent"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mobileSearch">
            <i class="fa-solid fa-magnifying-glass fa-2x" style="color: white;"></i>
        </button>
        
        <!-- Buscador mobile -->

    <div class="collapse d-md-none w-container" id="mobileSearch">
        <form class="p-2 search-container-mobile">
            <input
                type="text"
                class="form-control"
                placeholder="Buscar proyectos...">
            <div class="search-suggestions"></div>    
        </form>
    </div>

    <!-- Menú escritorio y tablet -->
    <nav class="flex-nav d-none d-md-flex">
        <form class="search-container">
            <input type="text" placeholder="Buscar proyectos..." class="search-input">
            <button type="submit" class="search-btn">Buscar</button>
            <div class="search-suggestions"></div>
        </form>

        <ul class="flex-ul">
            <li><a href="./ecoEscuelas.html" class="a-class">EcoEscuelas</a></li>
            <li><a href="./plantAr.html" class="a-class">PlantAr</a></li>
            <li><a href="./ceroResiduos.html" class="a-class">Cero Residuos</a></li>
            <li><a href="./guardianesDelAgua.html" class="a-class">Guardianes Del Agua</a></li>
        </ul>
    </nav>

    <div class="header-buttons d-none d-md-flex">
        <a href="./donaciones.html" class="donation-button">Doná Ahora</a>
        <a href="./login.html">
            <i class="fa-solid fa-user fa-xl login"></i>
        </a>
    </div>

        <!-- Menú celular -->
        <div class="collapse mobile-menu d-md-none" id="menuMobile">

            <ul class="flex-ul-mobile">
                <li><a href="./ecoEscuelas.html" class="a-class-index">EcoEscuelas</a></li>
                <li><a href="./plantAr.html" class="a-class-index">PlantAr</a></li>
                <li><a href="./ceroResiduos.html" class="a-class-index">Cero Residuos</a></li>
                <li><a href="./guardianesDelAgua.html" class="a-class-index">Guardianes Del Agua</a></li>
            </ul>

            <div class="mobile-buttons">
                <button id="btn-alternar" class="btn-dark">
            <i class="fa-solid fa-moon"></i>
            <i class="fa-solid fa-sun"></i>
            </button>
                <a href="./donaciones.html" class="donation-button">Doná Ahora</a>

                <a href="./login.html">
                    <i class="fa-solid fa-user fa-xl login"></i>
                </a>
            </div>

        </div>
        

    </header>

    <main class="contenedor-section">
        <h1>BioImpact: Transformando la Conciencia en Acción</h1>
        <br>
        <section class="articulo">
            <h2 id="quienesSomos">¿Quiénes Somos?</h2>
            <p>BioImpact es una organización ecologica híbrida 
            de gestión privada arraigada a la comunidad <br>
            ambientalista de hace ya mas de 10 años por haya 
            en los años <time datetime="2026-05-15">2015</time>. Nacimos con el <br>
            propósito de no ser solo observadores del cambio 
            climático, sino arquitectos de soluciones tangibles.</p>
            <figure>
                    <picture>
                        <img class="figureimg" src="./../../public/images/ladrilloDePlastico.jpeg" alt="un ladrillo de plastico">
                    </picture>
                    <figcaption>
                        ladrillo de plasctico ecologico.
                    </figcaption>
            </figure>
            <br><br>

            <p>Nuestra razón de ser es la gestión participativa:<br> 
                creemos que el conocimiento más valioso sobre el 
                entorno reside en las comunidades que lo habitan.<br> 
                Por ello, BioImpact se especializa en diagnosticar, 
                diseñar y ejecutar proyectos de restauración ambiental<br> 
                que responden directamente a las denuncias y necesidades 
                de los ecosistemas locales. No imponemos soluciones;<br> 
                escuchamos a la comunidad medioambiental para reparar 
                nuestro entorno de manera colectiva y técnica.<br></p>
            
            
            
            
        </section>
        <section class="articulo">
            <h3 id="ValoresYPrincipios">Nuestros Principios y Valores</h3>
            <p>Nuestra cultura organizacional se rige 
                por pilares que garantizan que cada <br>
                impacto sea positivo y duradero:</p>
                <br><br>
                <ol>
                    <li><p><strong> Escucha Activa y Co-creación </strong><br>
                        Entendemos que la comunidad es nuestra principal 
                        fuente de información. científicos locales y vecinos <br>
                        para identificar las necesidades de medioambiental más urgentes.
                        </p>
                        <figure><img class="figureimg" src="./../../public/images/escuchaActiva.png" alt=""></figure>
                        <br><br>
                    </li>
                    <li><p><strong> Responsabilidad Restaurativa </strong><br>
                        nos enfocamos en la reparación del ecosistemas
                        en un estado mejor del que los encontramos, aplicando <br>
                        ingeniería ambiental de vanguardia para sanar suelos,
                        cuencas y biodiversidad.
                        </p> <figure><img class="figureimg" src="./../../public/images/restaurar1.jpg" alt=""></figure>
                    <br><br>
                    </li>
                    <li><p><strong> Innovación Adaptativa</strong><br>
                        El medio ambiente cambia, y nosotros con él. Abrazamos 
                        nuevas tecnologías y métodos de regeneración que sean <br>
                        respetuosos con el equilibrio natural y económicamente 
                        sostenibles a largo plazo.
                        </p>
                        <figure> <img class="figureimg" src="./../../public/images/innovacion0.jpg" alt=""></figure>
                    </li>
                </ol>
        </section>
        <section class="articulo">
            <h4 id="equipo">Equipo de BioImpact</h4>
            <dl>
                <dt><strong>Sebastian Ignacio Montero</strong> </dt>
                <dd>- Enfocado en la gestión de proyectos y articulación con la comunidad.</dd>
                <dt><strong>Lucía Nicole Caro</strong></dt>
                <dd>-  Orientada a la educación ambiental y desarrollo de contenidos.</dd>
                <dt><strong>Lautaro Brea</strong></dt>
                <dd>- Especializado en iniciativas de sustentabilidad e innovación.</dd>
                <dt><strong>Nuñez Valentin Elias</strong></dt>
                <dd>- Enfocado en la coordinación de campañas y logística.</dd>
            </dl>
        </section>
    </main>

     <footer class="rectanguloHorizontal FilaDeItemsCentrados">
        
        <p><i> todos los derechos de autor de la
         pagina esta todos reservados a BioImpact - 2018 </i> </p>
         
        <div class="box-grey a-class">
            <a href="./contacto.html" class="textoNormal transicionDeEscala contenidoBloque">Contactanos</a>
        </div>
        <div class="box-grey">
            <a href=""><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a href=""><i class="fa-brands fa-youtube fa-lg"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter fa-lg"></i></a>
            <a href=""><i class="fa-brands fa-facebook fa-lg"></i></a>
        </div> 

         
       
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="../main.js"></script>
</body>
</html>    